wax
plugins/*
public/files/*
.DS_Store
tmp/cache/*
tmp/log/*
tmp/session/*
!tmp/cache/README
!tmp/log/README
!tmp/session/README
!public/files/README
public/javascripts/build
public/stylesheets/build
