<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="auhtor" content="charles marshall for One Black Bear"/>
	<meta name="keywords" content="B-Hive, Birmingham, designer, top agency, pr, placement, creative, high profile, pitch, unsuitable, marketing birmingham, marketing"/>
	<meta name="description" content="Are you a budding pr or designer aspiring to work in a top agency? Here's your chance to win a paid work placement at one of the region's best. There are two categories: PR and Design."/>
	<meta name="verify-v1" content="9jM3A+FQe3avYfCCU+bcjZzHxPucsYYE39/7bXSghP0=" />
	
	<link rel="stylesheet" href="/stylesheets/styles.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="icon" type="image/gif" href="/favicon.ico" />
	
	<script src='http://www.google.co.uk/jsapi?'  type='text/javascript'></script>	
  <script type='text/javascript'>                      
  google.load('jquery', '1.3');
  </script>
	<script src="/javascripts/application.js" type="text/javascript" charset="utf-8"></script>
	
	

	<title>Test CMS Site</title>
	
</head>

<body id="<?=$action?>">
	
	<div id="wrapper" class='clearfix'>
	  
	  <div id="logo" class='clearfix'>
	    <a href="/"><img src="/images/cms/wildfire_login_logo.gif" alt="Logo"/></a>
	  </div>
	  <div id="content" class='clearfix'>
	    <?=info_messages()?>
	    <?=$content_for_layout?>

	  </div>
	  
	</div>
	
</body>
</html>
