<!DOCTYPE html>
<html lang="en"><head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <?=css_bundle("core")?>	
  <title>Test CMS Site</title>
</head>

<body id="<?=$action?>">
	
	<div id="wrapper" class='clearfix'>
	  
	  <div id="logo" class='clearfix'>
	    <a href="/"><img src="/images/cms/wildfire_login_logo.gif" alt="Logo"/></a>
	  </div>
	  <div id="content" class='clearfix'>
	    <?=info_messages()?>
	    <?=$content_for_layout?>

	  </div>
	  
	</div>
	
<script src="http://www.google.com/jsapi"></script>
<script>google.load("jquery", "1");</script>
<?=js_bundle("core")?>
<script type="text/javascript">
var tracker_id = "<?=Config::get('analytics/tracker_id')?>";
var _gaq = _gaq || [];
_gaq.push(['_setAccount', tracker_id]);
_gaq.push(['_trackPageview']);

(function() {
    var ga = document.createElement('script');     ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:'   == document.location.protocol ? 'https://ssl'   : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    
})();
</script>
</body>
</html>
